/* Show.css */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f1e3; /* Vintage paper color */
  border: 1px solid #d1ccc0; /* Paper border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Paper shadow */
  font-family: 'Times New Roman', serif; /* Vintage font */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-text {
  margin-left: 10px;
}

/* Vintage book page style */
.book-page {
  background-color: #fefcf7; /* Page color */
  border: 1px solid #ddd; /* Page border */
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Page shadow */
}

.book-page-content {
  color: #333; /* Text color */
  line-height: 1.6; /* Line height */
}

.book-page-content span {
  display: block;
  margin-bottom: 10px;
}

.book-page-content .label {
  font-weight: bold;
}

.book-page-content .label:after {
  content: ":";
  margin-right: 5px;
}
